

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Thêm đổ bóng để tạo hiệu ứng nổi */
}
.header .header-container {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 80px;

}

.header .header-logo {
  width: 200px;
}

.header .header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.mobile-icon {
    display: none;
}
.header-nav li a {
    color: #0c117b;
    font-size: 16px;
}

@keyframes updown {
    0% {
        transform:translateY(0px) rotate(90deg);
    }
     50% {
        transform:translateY(30px) rotate(90deg);
    }
    0% {
        transform:translateY(0px) rotate(90deg);
    }
}
.scroll-container .scroll {
    transform: rotate(90deg);
    width: 100px;
    animation: updown 2s ease-in-out infinite;
    color:rgb(73, 137, 253);
    font-weight: 400;
}
.scroll-container {
    position: absolute; /* Đặt vị trí tuyệt đối */
    right: 24px;       /* Đặt cách lề phải 20px (hoặc giá trị bạn muốn) */
    bottom: 360px;      /* Đặt cách lề dưới 20px (hoặc giá trị bạn muốn) */
}
/* Start banner */
.banner {
    background-image: url("../../Assets/images/banner-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}
.banner .banner-container 
{
    display:flex;
    justify-content: center;
    align-items: center;

}
.banner .banner-top {
    text-align: center;
}
.banner .banner-top h3 {
font-size: 45px;
text-align: center;
color: rgb(73, 137, 253);
margin: 0;
}

.banner .banner-top h3 span {
    color:#0c117b;

}
.banner .banner-top p {
    color: rgb(173, 173, 193);
    font-size: 12px;
    margin: 30px 0;
    text-align: center;

    
}

.banner-top .btn-service{
    background-color: rgb(247, 67, 113);
    color: white;
}

.banner-top .btn-readmore {
border: 1px solid rgb(12, 17, 123);
color: rgb(12, 17, 123);
background-color: rgba(247, 67, 113, 0);

}

.banner-bot {
    display: flex;
    justify-content: space-between;
    padding: 200px 0 12px;
}
.banner-bot .bot-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.bot-left img {
     width: 23px;
    height: 31px;
}

.left-text, .bot-right p {
    font-size: 12px;
    color: #adadc1;
}

.left-text p span {
    font-size: 16px;
    color:  rgb(73, 137, 253);
}

.bot-right {
    display: flex;
    align-items: center;
    gap: 8px;
}
.bot-right a {
    display: flex;
    border-radius: 50%;
    background-color: rgb(73, 137, 253);
    color: white;
    width: 40px;
    height: 40px;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* End banner */
/* Start partner */
.partners {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  /* padding: 0;  */
  /* margin: 0; */
   padding: 12px auto 12px;
  
}


.partners .client-wrapper {
    padding: 10px 15px;
    margin: 10px;
    background: rgba(0, 0, 0, .01);
    text-align: center;
    line-height: 0;
    height: 75px;
    line-height: 75px;
    position: relative;
}

ul.partners {
padding: 0;
}

.logo-container img {
    width: 100%;
    height: auto;
}
/* End partner */

/* Start offer */
.offer-container {
    display: flex;
    align-items: center;
    gap: 24px;
}
.offer-container img {
    width: 440px;
}
.offer-container h3 {
    font-size: 45px;
    color: #4989fd;
}
.offer-container h3 span {
    color: #0c117b;
}

.offer-container p,li {
    font-size: 14px;
    color: #626262;
}

.btn-offer{
    background-color: rgb(247, 67, 113);
    color: white;
}
.offer-container ul{
    padding: 8px 0;
}

ul.list_check li {
    background: url(../../Assets/images/list_check.png) no-repeat 20px 5px;
    padding-bottom: 8px;
    padding-top: 8px;
}
/* , li.list_check */

ul.list_check li {
    margin-bottom: 8px;
    position: relative;
    list-style: none;
    padding-left: 52px;
    /* margin-left: 0; */
}

/* End offer */

/* Start service */
.service {
    background: url(../../Assets/images/agency4-home-offer-bg.jpg) no-repeat 20px 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 32px;
    text-align: center;
}
.service-container {
    display: flex;
    gap: 12px;
}

.one-service {
    Display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 16px;

}
.service-container img {
    width: 150px;
    height: 150px;
}
.service h3 {
    font-size: 45px;
    color: #4989fd;
    text-align: center;
}

.service p {
    font-size: 14px;
    color: white;
    text-align: center;
}
.service p span {
    font-size: 14px;
    color: #4e579b;
    text-align: center;
}
.service h3 span {
    color: white;
}
p.service-description {
padding-bottom: 32px;
}
.btn-service{
    background-color: rgb(247, 67, 113);
    color: white;
}
/* End service */

/* Start facts */
.fact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.fact-container img {
    width: 440px;
}

.fact-right {
    padding: 24px;
}
.fact-right h3 {
    font-size: 45px;
    color:#0c117b ;
}
.fact-right h3 span {
    font-size: 45px;
    color:  #4989fd;

}

.fact-right p {
    font-size: 14px;
    color: #ADADC1;
}

.fact-number {
    display: flex;
    align-items: center;
    gap: 12px;
}

.fact-number span {
    font-size: 42px;
    font-weight: 400;
    margin: 0;
}

.fact-1 span {
    color:#15c68f;
}

.fact-2 span {
    color:#EE9C32;
}

.fact-3 span {
    color:#0C117B;
}

/* Start email */
.email-container {
    background: url(../../Assets/images/agency4-home-newsletter-bg.jpg) no-repeat 20px 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 64px;
    text-align: center;
}

.email-container p {
    padding: 32px 0;
}

.email-container input {
    padding: 8px 16px;
    border: none;
    border-bottom: 1px solid #adadc1;
}

.email-container input::-moz-focus-inner {
    padding: 8px 16px;
    border: none;
    border-bottom: 1px solid #adadc1;
    background:#adadc1;
}

.email-container button {
    border: none;
}
.email-container input:focus::placeholder {
    color: #adadc1;
}

/* Style the input field on focus */
.email-container input:focus {
    background-color: #e6f7ff; /* A light, soft blue color */
    border-bottom: 1px solid rgb(73, 137, 253);
    outline: none; /* Removes the default blue/black outline */
}
/* End email */

/* Start footer */
.footer {
    background-color: #fafbfc;
}
.footer-top  {
    display:flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 64px;
}
.footer-column img {
    height: 50px;
    width: 207px;
}
.footer-top .footer-column  {
    display:flex;
    flex-direction: column;
    gap: 8px;
}

.footer-column h6 {
    color:#0C117B;
    font-size: 14px;
    margin: 0;
}

.footer-column a {
    color:#adadc1;
    font-size: 12px;
}