@media only screen and (max-width: 480px) {
   
.header .header-container {
display: flex;
justify-content: center;
gap: 12px;
}
.header .header-logo {
    vertical-align: middle;}

.header .header-nav {
    display: none;
    justify-content: center;
}
.mobile-icon {
     display: block;
        text-align: center;
        position: absolute;
        top: 28px;
        right: 10px;

}
.mobile-icon img {
    width: 24px;
    height: 24px;
}
.banner .banner-top h3 {
    font-size: 28px;
    margin: 0;
     padding: 12px 0 24px;
}
.banner .banner-top p {
    display: none;
}

.banner-bot {
    display: none;
}
.banner-top-btn {
    padding: 12px 0 120px;
    display: grid;
    gap: 8px;
}

.banner-top-btn a {
    Padding: 12px 24px;
}
.partners {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Chia thành 2 cột có kích thước bằng nhau */
    gap: 8px; /* Giữ khoảng cách giữa các logo */
    justify-content: center; /* Giữ lại để căn giữa toàn bộ lưới */
  }

  /* Start why */
  .offer-container {
    display: block;
    align-items: center;
}
.offer-container img {
    width: 100%;
}

.offer-left {
    width: 100%;
}
.offer-container h3 {
    font-size: 28px;
}
/* Start service */
.service-container {
    Display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.service h3 {
    font-size: 28px;
}
/* Start fact */
.fact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
img.fact-left {
width: 100%;
height: auto;
}
.fact-container h3, span {
    font-size: 28px;
}
.fact-right .convince-span {
    font-size: 28px;
}
.fact-number {
    display:flex;
    flex-direction: column;
    gap: 8px;

}

div .fact-1, .fact-2, .fact-3 {
    display:flex;
    gap: 12px; 
}
/* End facts */

.scroll-container {
    display: none;
}

/* Start email */
.email-container {
    background-size: cover;
    padding: 32px; /* Reduce padding for mobile */
    background-position: center;
    background-repeat: no-repeat;
  }

  .email-container p {
    padding: 16px 0; /* Reduce padding for mobile */
  }
  .email-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
.email-container h3, span {
        font-size: 28px;
}

#email-h3 {
    font-size: 28px;
}
#address {
    font-size: 12px;
}

}