@media only screen and (max-width: 760px) {

.header .header-nav {
    display: none;
}
.mobile-icon {
    display: block;
}
.mobile-icon img {
    width: 24px;
    height: 24px;
}
.banner .banner-top h3 {
    font-size: 32px;
    margin: 0;
     padding: 12px 0 24px;
}
.banner .banner-top p {
    display: none;
}

.banner-bot {
    display: none;
}
.banner-top-btn {
    padding: 12px 0 120px;
    gap: 8px;
}

.banner-top-btn a {
    Padding: 8px 24px;
}

/* Start offer */
 .offer-container {
    display: block;
    align-items: center;
}
.offer-container img {
    width: 100%;
}

.offer-left {
    width: 100%;
}

/* End offer */
/* Start Service */
.service-container {
    Display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
/* End service */
/* Start fact */
img.fact-left {
width: 100%;
height: auto;
}
.fact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
/* End facts */
}