.btn {
    border-radius: 24px;
    margin: 0;
    padding: 12px 32px;
    font-size: 12px;
}
.container {
    padding: 32px;
    /* margin: 80%; */
}
.header .header-container {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 1000;
  margin: 0;
  height: 80px;

}

.header .header-logo {
  width: 200px;
}

.header .header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.mobile-icon {
    display: none;
}
.header-nav li a {
    color: #0c117b;
}
/* Start banner */
.banner {
    background-image: url("../../Assets/images/banner-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}
.banner .banner-container 
{
    display:flex;
    justify-content: center;
    align-items: center;

}
.banner .banner-top {
    text-align: center;
}
.banner .banner-top h3 {
font-size: 45px;
text-align: center;
color: rgb(73, 137, 253);
margin: 0;
}

.banner .banner-top h3 span {
    color:#0c117b;

}
.banner .banner-top p {
    color: rgb(173, 173, 193);
    font-size: 12px;
    margin: 30px 0;
    text-align: center;

    
}

.banner-top .btn-service{
    background-color: rgb(247, 67, 113);
    color: white;
}

.banner-top .btn-readmore {
border: 1px solid rgb(12, 17, 123);
color: rgb(12, 17, 123);
background-color: rgba(247, 67, 113, 0);

}

.banner-bot {
    display: flex;
    justify-content: space-between;
    padding: 200px 0 12px;
}
.banner-bot .bot-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.bot-left img {
     width: 23px;
    height: 31px;
}

.left-text, .bot-right p {
    font-size: 12px;
    color: #adadc1;
}

.left-text p span {
    font-size: 16px;
    color:  rgb(73, 137, 253);
}

.bot-right {
    display: flex;
    align-items: center;
    gap: 8px;
}
.bot-right a {
    display: flex;
    border-radius: 50%;
    background-color: rgb(73, 137, 253);
    color: white;
    width: 40px;
    height: 40px;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* End banner */
/* Start partner */
.partners {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  /* padding: 0;  */
  /* margin: 0; */
   padding: 12px auto 40px;
  
}


.partners .client-wrapper {
    padding: 10px 15px;
    margin: 10px;
    background: rgba(0, 0, 0, .01);
    text-align: center;
    line-height: 0;
    height: 75px;
    line-height: 75px;
    position: relative;
}

.logo-container img {
    width: 100%;
    height: auto;
}
/* End partner */

/* Start offer */
.offer-container {
    display: flex;
    align-items: center;
    gap: 16px;
}
.offer-container img {
    width: 440px;
}
.offer-container h3 {
    font-size: 45px;
    color: #4989fd;
}
.offer-container h3 span {
    color: #0c117b;
}

.offer-container p,li {
    font-size: 14px;
    color: #626262;
}

.btn-offer{
    background-color: rgb(247, 67, 113);
    color: white;
}
.offer-container ul{
    padding: 12px auto;
}
/* End offer */